/* Global */
* {
  transition: all 0.1s linear;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #681757;
  background: -webkit-linear-gradient(to right, #f3c9cb, #ffd700, #FB9898);
  background: linear-gradient(to right, #F3C9CB,#ffd700, #FB9898);
  color: #fff;
}

section {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.separator {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  div {
    width: 90%;
    height: 1px;
    background-color: #000;
  }
}
/* NAVEGADOR */
.navbar {
  display: flex; 
  justify-content: center;
   height: 90px;
  align-items: center;
  background: linear-gradient(to right, #F3C9CB,#ffd700, #FB9898);
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
   }
 
   .lista {
    list-style: none;
    color: black;
    font-size: 20px;
    top: 5px;
  }
  
  /* HEADER */
  
  #Hero-Section {
    background-image: url("../imgs/fondo-cabecera.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: block;
  }
  .foto-perfil{
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }

  .acerca-de-mi {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
      padding: 40px;
      font-size: 50px;
    }
    .sobre-mi {
      width: 500px;
      text-align: center;
      padding: 10px;
    }
  }
  
  /* CONOCIMIENTOS */
  
  #skills {
    opacity: 70%;
    color: black;
    align-items: center;
  }
  .texto {
    padding: 1rem;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .texto {
      width: 50%;
    }
  }

  /* PORTFOLIO */

  #portfolio {
    color: #000;
  }
  .titulo-carousel {
    text-align: center;
    padding: 40px;
  }
  .carousel-item img {
    height: 500px;
    object-fit: cover ;
    object-position: top;
}
  .carousel-caption {
    background-color: black;
    opacity: 60%;
  }
  
  /* CONTACTO */

  #contacto {
    color: #000;
    padding: 3rem;
  }
  
  /* FOOTER */

  .mi-footer {
    color: #000;
    padding: 30px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-contenido {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px;
    height: auto;
    padding: 2rem;
  }
  
  .footer-enlaces ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-enlaces ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-enlaces ul li a {
    color: #000;
    text-decoration: none;
  }
  
  .footer-redes a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-redes a:hover {
    color: #D18398;
  }
  
  .footer-derechos {
    text-align: center;
    margin-top: 20px;
  }
  