/* NAVEGADOR */

nav {
    background-color: #f3c9cb;
  }
  .navegador {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lista {
    list-style: none;
    color: black;
    font-size: 15px;
  }
  
  /* HEADER */
  
  #Hero-Section {
    background-image: url("../imgs/fondo-cabecera.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: block;
  }
  .foto-perfil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .contenedor {
    text-align: center;
    background-color: black;
    opacity: 70%;
    color: white;
  }
  
  /* CONOCIMIENTOS */
  
  .conocimientos {
    background: #f3c9cb;
    opacity: 70%;
    color: black;
    align-items: center;
  }
  .texto {
    padding: 1rem;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .texto {
      width: 50%;
    }
  }

  /* PORTFOLIO */

  .portfolio {
    background-color: #000000;
    color: white;
  }
  .titulo-carousel {
    text-align: center;
    padding-top: 3rem;
    opacity: 60%;
  }
  .linea-decorativa {
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 30px 120px 60px;
    opacity: 60%;
  }
  @media only screen and (min-width: 768px) {
    .linea-decorativa {
      margin: 30px 660px 60px;
    }
  }
  .carousel-item img {
    height: 500px;
    object-fit: cover ;
    object-position: top;
}
  .carousel-caption {
    background-color: black;
    opacity: 60%;
  }
  