section p {
    position: absolute;
    font-size: 30px;
    left: 10px;
    padding-top: 50px;
    width: 90%;
    text-align: center;
    color: #000;
}
.aclaracion {
    position: absolute;
    padding-top: 200px;
    font-size: 20px;
    color: #000;
}
@media screen and (min-width: 768px) {
    .aclaracion {
        display: none;
    }
}
section img {
    width: 100%;
    padding-top: 260px;
}
section:hover img {
    transform: scale(2.25);
    overflow: hidden;
}
@media screen and (min-width: 768px){
    section:hover img {
        transform: none;
    }
}
.mi-footer {
    padding-top: 300px;
}